.rodape{
    background-color: rgb(24, 35, 56);
    p{
        margin: 0;
        color: white;
    }
    span{
        margin-left: 5px;
        color: white;
    }
    a{
        margin-left: 5px;
        color: #e9ba0a;
            @media (max-width: 600px){
                margin-left: 0;
            }        
    }
    .divRodape{
        display: flex;
        flex-wrap: inherit;
    }
    h6{
        color: white;
        font-weight: 400;
    }
}