<div class="container" id="idProdutos">
  <div class="row">
    <div class="col">
      <section class="section section_discover section_no-padding_bottom mt-5">
        <div class="row">
          <div class="col-sm-4 col-md-4 col_ajuste">
            <div class="card">
              <img src="../../assets/Imagens/770ml.jpg" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">Copão de 770ml</h5>
                <p class="card-text">Nosso copão de 770ml é um delícia, você mesmo que vai montar escolhendo às frtuas,
                  cremes e acompanhamentos.</p>
                <a href="https://api.whatsapp.com/send?phone=5511985251135&text=Ol%C3%A1%2C+agradecemos+pelo+seu+contato%21%0D%0AComo+podemos+te+ajudar+%3F"
                  class="btn btn-primary">Comprar agora</a>
              </div>
            </div>
          </div>
          <div class="col-sm-4 col-md-4 col_ajuste">
            <div class="card">
              <img src="../../assets/Imagens/770ml_2.jpg" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">Copão de 550ml</h5>
                <p class="card-text">Nosso copão de 550ml é um delícia, você mesmo que vai montar escolhendo às frtuas,
                  cremes e acompanhamentos.</p>
                <a href="https://api.whatsapp.com/send?phone=5511985251135&text=Ol%C3%A1%2C+agradecemos+pelo+seu+contato%21%0D%0AComo+podemos+te+ajudar+%3F"
                  class="btn btn-primary">Comprar agora</a>
              </div>
            </div>
          </div>
          <div class="col-sm-4 col-md-4 col_ajuste">
            <div class="card">
              <img src="../../assets/Imagens/330ml.jpg" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">Copão de 330ml</h5>
                <p class="card-text">Nosso copão de 550ml é um delícia, você mesmo que vai montar escolhendo às frtuas,
                  cremes e acompanhamentos.</p>
                <a href="https://api.whatsapp.com/send?phone=5511985251135&text=Ol%C3%A1%2C+agradecemos+pelo+seu+contato%21%0D%0AComo+podemos+te+ajudar+%3F"
                  class="btn btn-primary">Comprar agora</a>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4 col-md-4">
            <div class="card">
              <img src="../../assets/Imagens/barcaPequena.jpg" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">Barca</h5>
                <p class="card-text">Temos três tamanhos de barcas "pequena", "média" e "grande", consulte o nosso
                  cardápio.</p>
                <a href="https://api.whatsapp.com/send?phone=5511985251135&text=Ol%C3%A1%2C+agradecemos+pelo+seu+contato%21%0D%0AComo+podemos+te+ajudar+%3F"
                  class="btn btn-primary">Comprar agora</a>
              </div>
            </div>
          </div>
          <div class="col-sm-4 col-md-4 col_ajuste">
            <div class="card">
              <img src="../../assets/Imagens/barcaPequena_2.jpg" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">Barca pequena</h5>
                <p class="card-text">Temos três tamanhos de barcas "pequena", "média" e "grande", consulte o nosso
                  cardápio.</p>
                <a href="https://api.whatsapp.com/send?phone=5511985251135&text=Ol%C3%A1%2C+agradecemos+pelo+seu+contato%21%0D%0AComo+podemos+te+ajudar+%3F"
                  class="btn btn-primary">Comprar agora</a>
              </div>
            </div>
          </div>
          <div class="col-sm-4 col-md-4 col_ajuste">
            <div class="card">
              <img src="../../assets/Imagens/500ml.jpg" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">Copão de açai puro</h5>
                <p class="card-text">Foto do nosso copão de 770ml com açai e frutas "faltou creme ?", consulte abaixo o
                  nosso cardápio.</p>
                <a href="https://api.whatsapp.com/send?phone=5511985251135&text=Ol%C3%A1%2C+agradecemos+pelo+seu+contato%21%0D%0AComo+podemos+te+ajudar+%3F"
                  class="btn btn-primary">Comprar agora</a>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>

<section class="section section_about">
  <div class="section_welcome__main">
    <div class="container">
      <div class="row align-items-center" id="idCardapio">
        <div class="col col_ajuste">
          <img src="../../assets/Imagens/Cardapio.png" />
        </div>
      </div>
    </div>
  </div>
</section>