.section {
    &_no-padding{
        &_bottom{
            padding-bottom: 0;
            .col{
                &_ajuste{
                    @media (max-width: 600px){
                        padding-left: 0;
                        padding-right: 0;
                    }
                }
            }            
        }
    }
    &_about{
        background-image: linear-gradient(160deg,salmon,blue);
        background-color: blueviolet;
        background-position-x: center;       
        &::before{
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            content: "";
            background: #000;
            opacity: 0.5;
        }
    }
    &_welcome{
        &__main{
            img{
                @media (min-width: 768px){
                    height: 526px;
                    width: 600px;/*526*/
                    margin-left: 250px;
                    margin-right: 250px;
                }
                @media (max-width: 600px){
                    width: 100%;
                    height: auto;
                    margin-left: 0px;
                    margin-right: 0px;
                    backdrop-filter: invert(1);
                }                               
            }
            .col{
                &_ajuste{
                    @media (max-width: 600px){
                        padding-left: 0;
                        padding-right: 0;
                    }
                }
            }
        }
    }
}
.card {
    margin-bottom: 2rem;
    img{
        max-height: 396px;
        min-height: 396px;
        // &:hover{
        //     cursor: pointer;
        //     opacity: 0.8;
        //     background: #000;
        // }        
        @media (max-width: 600px){
            min-height: auto;
        }        
    }
}