<div class="container">
  <div class="row">
    <div class="col">
      <section class="section section_discover section_no-padding_bottom">
        <div class="row animacao_row animate">
          <div class="col-sm-4 col-md-4 ">
            <div class="card">
                <img src="../../assets/Imagens/770ml.jpg" class="card-img-top">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
          </div>
          <div class="col-sm-4 col-md-4">
            <div class="card">
                <img src="../../assets/Imagens/770ml_2.jpg" class="card-img-top">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
          </div>
          <div class="col-sm-4 col-md-4">
            <div class="card">
                <img src="../../assets/Imagens/330ml.jpg" class="card-img-top">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
          </div>            
        </div>
        <div class="row animacao_row animate">
            <div class="col-sm-4 col-md-4">
              <div class="card">
                  <img src="../../assets/Imagens/barcaPequena.jpg" class="card-img-top">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-4">
              <div class="card">
                  <img src="../../assets/Imagens/barcaPequena_2.jpg" class="card-img-top">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-4">
              <div class="card">
                  <img src="../../assets/Imagens/500ml.jpg" class="card-img-top">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
            </div>            
          </div>    
      </section>
    </div>
  </div>
</div>


    <section class="section section_about">
        
    </section>